.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100svh;
	z-index: 100;
	isolation: isolate;
	display: flex;
	justify-content: center;
	align-items: center;

	.background {
		background: rgb(0, 0, 0, 0.5);
		position: absolute;
		inset: 0;
	}

	.modal {
		z-index: 1;
		position: relative;
		background: #181818;
		border-radius: 3px;
		padding: 20px;
		max-height: calc(100svh - 100px);
		overflow-y: auto;

		.close {
			position: absolute;
			top: 0;
			right: 0;
			color: #676767;
			background: transparent;
			border: none;
			padding: 5px;
			cursor: pointer;
		}
	}
}
