.container {
	container: #{container} / inline-size;
}

.track {
	display: flex;
	font-size: 1.2rem;
	padding: 4px 8px;
	color: #f8f9ff;
	align-items: center;

	&:focus,
	&:hover {
		background: #272727;

		.start {
			.index {
				display: none;
			}

			.play {
				display: block;
			}
		}

		.delete {
			display: block;
		}
	}

	.start {
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		.play {
			display: none;
			width: 25px;
			height: 25px;
			border: none;
			position: relative;
			background: transparent;
			cursor: pointer;
			color: #f8f9ff;

			svg {
				display: block;
				margin: 0;
				position: absolute;
				inset: 0;
			}
		}
	}

	.info {
		display: flex;
		flex-grow: 1;

		.title {
			flex: 1;
		}

		.artist {
			flex: 1;
		}

		.album {
			flex: 1;
		}
	}

	.delete {
		width: 25px;
		height: 25px;
		border: none;
		position: relative;
		background: transparent;
		cursor: pointer;
		color: #f8f9ff;
		display: none;

		svg {
			position: absolute;
			inset: 0;
		}
	}
}

@container #{container} (max-width: 800px) {
	.track {
		font-size: 1rem;
	}
}

@container #{container} (max-width: 700px) {
	.track {
		.info {
			flex-direction: column;

			.artist,
			.album {
				font-size: 0.8rem;
			}
		}
	}
}
