.container {
	display: flex;
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 4px 8px;

	&:focus,
	&:hover {
		background: #2d2c31;
	}

	.position {
		width: 50px;
		text-align: center;
	}

	.artist {
		flex: 1;
	}

	.album {
		flex: 1;
	}
}
